<h1>About</h1>

My name is Scott Savino.  I'm 25 years old, have a degree in computer science, and currently work as a software tester.  I've played video games all my life, and believe that most games are bad or have more flaws than they should.  I'm trying to get a quality assurance job at a game company, and hope that complaining about game design in a blog, creating my own browser game, and teaching myself automated testing will help me achieve this.
<br><br>
Email me:  ryukaider@gmail.com