<h1>PvP Part 2</h1>
<h2>in Diablo III - 07/28/12</h2>

Well, for anyone that doesn't know, this is written two months and two weeks after the release of Diablo III, and since release the game has had no pvp in any form.  No arena, no deathmatch, no hostiling people in public games, and no dueling.  It is not possible to kill another player in Diablo III.
<br><br>
Every day I wonder what happened.  It completely boggles me every day how the game was released with no pvp.  Yeah, this doesn't even need any explanation.  In Diablo II, pvp was a joke.  It was hilariously imbalanced and poorly designed (not to mention constantly bugged items).  And Diablo II players pvp'd the crap out of each other all day and loved it.  I had high hopes for pvp in Diablo III.  So much so that I thought it was going to be the saving feature of Diablo III.  If people loved the Diablo II pvp so much, imagine what the designers could do with Diablo III with a little effort.
<br><br>
I played the deathmatch pvp demo at Blizzcon and it was a lot of fun.  I thought that it would be something that I could play for hours at a time.  That was 7 months before the game was actually released.  What happened to deathmatch?!  I don't keep up on Diablo III news other than the patch notes, so I don't know if this is something that has been explained by Blizzard, but from what I can tell, it is rarely mentioned.