<h1>Gems</h1>
<h2>in Diablo III - 07/23/12</h2>

In Diablo II, gems were considered the most boring item to put in sockets (between gems, runes, and jewels).  In Diablo III, they are the only item to put in sockets, there are less of them, and they have arguably more boring bonuses.
<br><br>
A further problem with Diablo III sockets is that there are no options.  There is only one choice.  You use the gem that corresponds to your primary stat, and you use that in every socket.  The only exceptions are the weapon socket and helm socket, which each have two options instead of one.  There is no thought by the player.
<br><br>
Basically if gems/sockets were removed from Diablo III, it would have very little impact on the game (except for the crit damage in your weapon), wouldn't upset too many players, and wouldn't be overly missed.  If sockets were removed from Diablo II, it would be removing a huge portion of the game and a lot of customization.
<br><br>
I realize that is an exaggeration because it would bother players to remove sockets since sockets allow us to get more of our primary stat than we normally would.  But the point is that when I see a socket on an item, I don't actually see a socket, I just see more of my primary stat.
