<h1>Life Gain</h1>
<h2>in Diablo III - 07/29/12</h2>

I figured that there are enough negative posts about Diablo III, so I should take a quick intermission and talk about something that I think is good in Diablo III, which is the different types of health regain.
<br><br>
<h4>Life Regen Per Second</h4>
<br>In Diablo II, life regen was not very good.  I remember thinking about how many dol runes I could stick into gear to get the most health regen possible, but it wasn't viable.  I'm glad to see that even though life regen per second in Diablo III isn't a strongly desired stat, it is very viable and useful for some builds (such as <%= link_to "this build", 'http://www.youtube.com/watch?v=F82zEt80sOc', target: "_blank" %>).
<br><br>
<h4>Life After Kill</h4>
<br>Not a particularly strong stat simply because the game is heavily dependent on killing elite packs, but I think it does what it does well.  This wasn't a particularly strong stat in Diablo II either, however I do think that the 14 life after each kill on Enigma does get underappreciated, because I do think it is quite significant.
<br><br>
<h4>Health Globes</h4>
<br>When I first read about health globes, I was very skeptical.  It turns out though that I'm very surpised at how well health globes work.  I feel like most of the time I am not getting too many or too few health globes.  The stat to increase health globe value is not something that I like to see on my items, but when it happens to be there, I've definitely noticed the difference.  The fact that health globes drop during boss fights, and from most monsters in an elite pack makes this a reasonable stat.  It's still a stat that would never be optimal for me to have on an item, but I think it does its job.  It's not as bad as health globe radius, which I hate.  Luckily it looks like health globe radius might not actually take the spot of another mod because some items that have it seem to have a lot of mods.  I really need to find out about that one.
<br><br>
<h4>Life on Hit and Life Leech</h4>
<br>By this point, everyone is probably aware of how good life on hit is.  In Diablo II, life leech was the only really effective way to regain health.  I'm glad that they kept the percent based life leech, but also added the similar life on hit mod.  Having both of these mods should allow for some interesting gear choices, where life on hit is better with high attack speed and life leech is better with high dps.  Unfortunately, life on hit is pretty much always better.  So I guess I would like to see a buff to life leech in Diablo III, and then I think all of the life regain methods would be rounded out pretty well.
