<h1>What to Farm</h1>
<h2>in Diablo III - 07/29/12</h2>

This post is somewhat related to my <%= link_to "Farming Durations", '/diablo3/farming-durations' %> post.
<br><br>
<h4>In Diablo II...</h4>
<br>Here's a list of options of things to farm in Diablo II, off the top of my head (hell difficulty unless otherwise specified):
<br><br><ul>
<li>The Pit - The easiest zone that can drop any item.  Also has an uber chest.</li>
<li>The Countess - Best chance of getting runes through Gul, and drops terror keys.</li>
<li>Andariel - Drops rings more than any other monster.</li>
<li>Ancient Tunnels - Similar to the pit.  Is a little harder than the pit and has less unique packs, but the monsters have different resists and it's shorter which means more uber chests per hour.</li>
<li>Summoner - Drops hatred keys.</li>
<li>The Council - Drops the most gold, highest chance to drop charms, and highest chance to drop high runes (which is probably like a 1 in 3 million chance).</li>
<li>Mephisto - The most notorious boss to farm back in the day.  He can't drop the highest level items, but he was the most efficient boss to farm until being nerfed.</li>
<li>Chaos Sanctuary - Can drop any items, second best place to farm experience, and guaranteed 3 unique packs.  I also think it is the most fun place to farm and gives the best balance of experience and items.</li>
<li>Pindleskin/Eldritch/Threshsocket - Can drop any items.  Not really great chances to, but very quick to kill all three.  Also good for farming full rejuvs.</li>
<li>Nihlithak - Drops destruction keys.
<li>Baal runs - Best experience, can drop any items, but mostly only Baal himself drops items.  Has random enemies, which can include undead dolls.  Also Baal can take a while to kill if you aren't well geared.</li>
<li>Cows - Good for farming socketed items and runes (nightmare cows for low level socketed items).  Was once the best place for experience, but now gives almost no experience.</li>
<li>Uber Tristram - If you have people supplying you with organ sets, you probably have a character that is good at farming torches.</li>
<li>D clone - If you are really crazy...</li>
<li>Nightmare Andariel - Highest chance to drop SOJ, if you are that desparate for an SOJ.</li>
<li>Normal Coldcrow and Rakanishu - Highest chance to drop Hotspurs (and Gull dagger!).</li>
</ul>
<br><br>
<h4>In Diablo III...</h4>
<br>Well, you pick the last act that you are able to clear, then you start at the first quest, then you go through the entire act and kill everything because everything in the same act pretty much has the same chance to drop the same stuff.
<br><br>
<h4>Thoughts</h4>
<br>Both Diablo II and Diablo III are games of extreme randomity.  In any game like this, I like the idea of being able to choose to farm one thing over another to lean the odds towards the types of things that I want.  So I like the Diablo II system better, but I still don't think that it is a good system because of what I talk about in my <%= link_to "Farming Durations", '/diablo3/farming-durations' %> post.  I think that both games take this too far in each direction.  In Diablo II, you kill one specific enemy over and over, while in Diablo III you kill the whole act.  I think I would like it best if I could farm a particular zone or part of an act rather than one boss or an entire act.
<br><br>
For example, what if monsters in all Zoltun Kulle related areas (getting his blood, his head, and the Terminus) had a higher chance to drop rings?  What if all elites in the act 3 keep zones had a higher chance to be plagued over electrified/molten/arcane enchanted?  Sadly, since the game has a <%= link_to "level cap", '/diablo3/level-cap' %>, experience isn't a factor in farming.  Uber chests could be a bigger factor, but Blizzard has already had some problems with them and had to nerf them.  But yeah, everything is currently being outweighed by having stacks, which just means clearing the whole act.  So I would like to see the stacks system toned down a little, and then making some variety in zones like I said.
<br><br>
So I guess to be more organized, here's a list of some things that could be done to give more of an influence on where/what to farm:
<br><br><ul>
<li>A zone where you get high level items more efficiently, but not the highest level (already exists by farming act 1 inferno).</li>
<li>Have monsters in a zone have a higher chance to drop certain types of items such as rings or gems or crafting books.</li>
<li>Have a zone that gives significantly more gold, but worse drop rates on items.</li>
<li>Have some zones where elite packs are much more likely to have certain affixes.</li>
<li>Change the level cap and have zones give varying experience in inferno.</li>
<li>Have some zones give more uber chests per hour, but less elite packs per hour of farming (this kind of already exists, but is insignificant compared to stacks).  Have uber chests be effeted by stacks, but not magic find.</li>
<li>I would like to see one more rank of health potions, that only drops from elites, and in theory would be actually valuable and tradable.  Then they can make elites in some zones have a higher chance to drop these potions.</li>
</ul>