<h1>Drops in Higher Difficulties</h1>
<h2>in Diablo III - 07/30/12</h2>

<h4>In Diablo II...</h4>
<br>Item drops are nonstop excitement in hell difficulty.  These are some examples of what goes through my mind as I see items while killing monsters in Diablo II hell difficulty:
<br><br>
junk... junk... junk... junk...
<br>OHHHHHHHH MAN A MAGIC AMULET
<br>junk... junk... junk... junk...
<br>OHHHHHHHH MAN A WHITE ITEM THAT SELLS FOR 35K
<br>junk... junk... junk... junk...
<br>OHHHHHHHH MAN A SOCKETED FLAIL *picks it up* WOW, REALLY?  1 SOCKET??? YOU KIDDING ME? *drops it on the ground* *picks it back up to drop on the ground a second time because I'm so mad*
<br>junk... junk... junk... junk...
<br>OHHHHHHHH MAN A SMALL CHARM *gets it before colin* *laughs at colin* *colin comes over to watch me ID it* OHHHHHH MAN BEST SMALL CHARM EVER (every small charm is the best small charm ever.  one time I think I gave danny a +1 defense small charm and was like "it will be like 12 defense after holy shield")
<br>junk... junk... junk... junk...
<br>OHHHHHHHH MAN A... REALLY?  ANOTHER NAJ'S CIRCLET?  THAT COULD HAVE BEEN A RARE CIRCLET INSTEAD
<br>junk... junk... junk... junk...
<br>OHHHHHHHH MAN RARE BOOTS ALMOST GG
<br>junk... junk... junk... junk...
<br>OHHHHHHHH MAN OMGOMG A LO RUNE?!?!?!?  OH WAIT JK IT'S JUST AN IO RUNE
<br>junk... junk... junk... junk...
<br>OHHHHHHHH MAN A USELESS BUT HILARIOUS UNIQUE
<br>junk... junk... junk... junk...
<br>OHHHHHHHH MAN WHITE MONARCH *picks it up* AWWW YEAH 138 DEFENSE, TWICE THE FG OF 137 DEFENSE
<br><br>
<h4>In Diablo III...</h4>
<br>Item drops are much less exciting in inferno difficulty.  This is what goes through my mind while killing monsters in Diablo III inferno:
<br><br>
junk... junk... junk... junk...
<br>OHHHHHHHH MAN A RARE SOMETHING
<br>junk... junk... junk... junk...
<br>OHHHHHHHH MAN A RARE SOMETHING
<br>junk... junk... junk... junk...
<br>OHHHHHHHH MAN A RARE SOMETHING
<br>junk... junk... junk... junk...
<br>OHHHHHHHH MAN A RARE SOMETHING
<br>junk... junk... junk... junk...
<br>OHHHHHHHH MAN A RARE SOMETHING
<br>junk... junk... junk... junk...
<br>OHHHHHHHH MAN A RARE SOMETHING
<br>junk... junk... junk... junk...
<br>OHHHHHHHH MAN A RARE SOMETHING
<br>junk... junk... junk... junk...
<br>OHHHHHHHH MAN A RARE SOMETHING
<br><br>
<h4>Thoughts</h4>
<br>I like that Diablo II has so much more item diversity with runes, jewels, charms, socketed items for runewords, and items that people use for low level dueling.  There's just so many things to keep an eye out for, all with different purposes.  I have a pretty good idea of why Blizzard didn't follow this same path with Diablo III, which is that it's not obvious to new Diablo II players what items are valuable.  I'm pretty sure that no new player would realize that a <%= link_to "jewelers monarch of deflecting", 'http://www.itempub.com/product_detail.asp?itemid=7938', target: "_blank" %> is worth literally 100x more than the last good item they found.  Not everyone has all of the horadric cube recipes memorized to know what runes are used in socketing armor and upgrading uniques.  And I definitely know that new players would not understand what items people want for low level dueling.  There are many cases in Diablo II where high level items are worthless and low level items are valuable.
<br><br>
The item system in Diablo III is really easy to understand.  There are less stats, less item types, and higher level is always better.  It's just much harder to get confused about whether or not you found a good or bad item.  I think that was one of Blizzard's top goals with the item system.
<br><br>
However, I would really like to see a system that takes the best from both games in this aspect.  There must be ways to add the diversity of the Diablo II items while keeping it intuitive.  In particular, I really love the <%= link_to "horadric cube recipes", 'http://classic.battle.net/diablo2exp/items/cube.shtml', target: "_blank" %> from Diablo II and it really saddens me that nothing similar is in Diablo III (upgrading items, adding sockets, repairing items, rerolling items, transmuting potions).  For starters, maybe have an NPC with a list of the recipes in game?  I also love charms, but that's kind of a hilariously flawed system.
