<h1>Elite Affixes</h1>
<h2>in Diablo III - 07/25/12</h2>

This is what I think of the elite affixes in Diablo III.  I've only played one class, the wizard, but I've played as both ranged and melee.  I think it is important to compare the affixes against melee and ranged.  Hopefully my experiences as a melee and ranged wizard will be similar to the other melee and ranged classes.  Additionally, I will give my opinion of the affix in hardcore.  I loved hardcore in Diablo II, but so far haven't played it in Diablo III because I just don't think it is possible with the current state of elite affixes.
<br><br>
<b><u><font color="red">Arcane Enchanted</font></u></b>
<br><b>Ranged:</b> Fairly easy to avoid, but can be tricky in certain environments.  I think it's a good ability.  I like when abilities make you play different based on the environment.
<br><b>Melee:</b> Harder to avoid and makes melee really think about how they want to handle the situation, running in and out and when to use abilities.
<br><b>Hardcore:</b> By itself, arcane enchanted is very fair.  But with crowd control abilities like vortex, waller, and jailer, every once in a while I will get crowd controlled right on top of a spawning arcane laser.  Since they hit like 15x per second, it's instant death.  This is one reason why I am staying away from hardcore.  Even though this doesn't happen often, I know that it eventually would.
<br><b>Changes:</b> I think the only thing to change about arcane enchanted is to make it hit less frequently.  You take significant damage for running through one, and that's good.  But getting crowd controlled on top of the pivot of one should not be instant death so often.  It doesn't have to be a big change... just slightly less frequent.
<br><br>
<b><u><font color="red">Avenger</font></u></b>
<br><b>General:</b> I think this is a well designed ability for ranged, melee, and hardcore.  I like that it's unique in that it doesn't effect the fight until one of the monsters dies, which is the point where victory is normally ensured.
<br><b>Changes:</b> I actually don't notice this ability too often.  I think it could even use a small buff.  Maybe even give the last guy something extra wacky.
<br><br>
<b><u><font color="red">Desecrator</font></u></b>
<br><b>Melee+Ranged+Hardcore:</b> Good all around fun/fair/simple ability.
<br><br>
<b><u><font color="red">Electrified</font></u></b>
<br><b>Ranged:</b> Usually has a pretty small effect.  If you have life per second items, then it's really ineffective.
<br><b>Melee:</b> For the most part, you just have to tank them.  Generally life on hit items take care of that.
<br><b>Hardcore:</b> The only time this ability gets really deadly is when combined with reflect.  In hardcore, I think I would have enough survivability to handle it though.
<br><b>Changes:</b> This is going to sound a little weird, and it's not really a necessary change, but it's an idea that I think would work.  Have the bolts spawn like half a second after the enemy is struck, then have them start moving very slow and accelerate quickly.  This will give melee more options to weave around them, and make ranged have to pay more attention to them.
<br><br>
<b><u><font color="red">Extra Health</font></u></b>
<br><b>Ranged:</b> Very frustrating because it means a lot more kiting.
<br><b>Melee:</b> A fair ability because being melee is a lot more about being able to sustain yourself.  It makes the fight longer, but I don't find it as frustrating as ranged.
<br><b>Hardcore:</b> The only thing that makes this unreasonable in hardcore is enrange timers.  If an elite is a type of monster that has naturally high health, then has extra health, and also has illusionist to absorb hits from the real ones, it can be very easy to reach the enrage timer.
<br><b>Changes:</b> Don't change this ability, remove enrage timers.  I'm going to go on a real quick side rant of enrange timers because I can't believe they are in the game.  I'm not going to play hardcore as long as enrage timers exist, and I'm not sure how people do it.  Enrage timers make sense in World of Warcraft, but they don't make sense to me in an action RPG.  My punishment for taking a long time to kill an elite is that I just wasted 15 minutes to kill one enemy.  I'm sure they put this in the game because they figure that if people are taking more than 10 minutes to kill an elite, then they are doing something unintended.  I just want to say that even if people are, even if I find a way to kill an elite in inferno with a level 1 character but it takes 15 minutes, it still would not be worth it because if you are only killing 1 elite every 15 minutes, you deserve some pity loot.
<br><br>
<b><u><font color="red">Fast</font></u></b>
<br><b>Ranged:</b> I can not fight them.  I literally leave the game or skip them every time.
<br><b>Melee:</b> It's a fair ability.  As melee against ranged enemies with fast, it can be annoying, but I don't think it's unreasonable.
<br><b>Hardcore:</b> Well, it's okay as long as I plan to play a melee character.
<br><b>Changes:</b> I don't even know what to do.  I like the ability, but I just don't know how to make it fair against ranged without completely changing it.
<br><br>
<b><u><font color="red">Fire Chains</font></u></b>
<br><b>Ranged:</b> A fair and interesting ability.  It can kill you pretty quick if you take a wrong step, but is generally avoidable.
<br><b>Melee:</b> This ability affects melee much more, but I still like it.  What I like in particular about it is that its effectiveness varies based on the size and speed of the enemies, which will effect how you play against it.
<br><b>Hardcore:</b> I have the same problem with fire chains as with arcane enchanted.  If you get crowd controlled into it, you will die instantly because it hits like 15 times per second.  It can be extremely frustrating because as I get vortexed I just know I'm dead.  You land right in the middle of the monsters, and it's completely hopeless.  And I want to point out that my wizard has 999 fire resist, 8800 armor, and 750 life on hit, and fire chains kill me instantly.  I know those aren't the best stats ever, but I think I should be able to not die instantly to fire chains with those stats.
<br><b>Changes:</b> The most important change is to lower the frequency of how often fire chains can hit you because right now it is just frustrating how fast I die regardless of my stats.  Additionally, I hate how fire chains can kill me when the monsters are right against each other and the fire chains are not even visible.  Like I will be bunched up with all of the monsters and one second I'll be taking no damage from fire chains, and the next second I die instantly because the fire chains I couldn't see from the completely adjacent enemies just killed me.  So I think the enemies should have to be a reasonable distance apart for the fire chains to appear and do damage.
<br><br>
<b><u><font color="red">Frozen</font></u></b>
<br><b>Ranged:</b> I really like this ability and I think it is one of the best designed abilities, especially from the ranged perspective.  I like that the environment has a great effect on this ability, I like that sometimes several can hit you at once, and I like that I can use certain abilities while frozen.
<br><b>Melee:</b> Mostly the same as the ranged explanation, but a little more annoying for melee.  In particular, if the enemies are ranged with frozen, I find that to be much more difficult, but not unreasonable.
<br><b>Hardcore:</b> As long as vortex+frozen is in the game, I won't be playing hardcore.  One thing that I noticed when I switched to melee is that since you get vortexed less as melee, whenever you actually start running away to avoid some frozens, you immediately get vortexed back into the frozens almost every time.  You can try to avoid this by making the elite vortex you before the frozen mines appear, but it doesn't work as well as it sounds.
<br><b>Changes:</b> The best change would be to make the frozen mines more noticable when things are on top of them, mainly your character or dead monsters.  Also, while I like that 2-3 mines can be close together, there are some rare occasions where all of the mines stack close together because of the environment, and that is instant death and a little silly.
<br><br>
<b><u><font color="red">Health Link</font></u></b>
<br>Doesn't this just make my aoe's stronger against the monsters?  So far I have only felt like this ability benefits me instead of the monsters.
<br><br>
<b><u><font color="red">Horde</font></u></b>
<br>I like this ability.  I think it's well designed, interesting, fair, and different.
<br><br>
<b><u><font color="red">Illusionist</font></u></b>
<br><b>Ranged:</b> Can be very frustrating because the illusions block shots at the real ones.  However, if you use good piercing abilities then maybe not a problem.  As a side note, illusions provide me with infinite time on archon, which I find hilarious.  So I guess this depends heavily on build, and I think makes it an okay ability.
<br><b>Melee:</b> My melee wizard is heavily proc based, so illusions just kind of fuel me.  I would imagine this is similar with other melee classes because all melee classes like life on hit, and the others generate resource from hitting things.
<br><b>Hardcore:</b> There is one small problem with illusions on hardcore, which is they go a little nuts when arcane enchanted.  Like to a completely unreasonable point.  Words can't do it justice, so maybe I'll get a screenshot if I remember the next time it happens.  While words will not convince you, I know a screenshot would.
<br><b>Changes:</b> They really need to calm down when arcane enchanted.  The illusions just need to spawn the arcane traps way less.
<br><br>
<b><u><font color="red">Invulnerable Minions</font></u></b>
<br><b>Ranged:</b> I can't fight them.  I literally leave the game or skip them every time.
<br><b>Melee:</b> There is absolutely no tactics in fighting them, it is completely gear.  I just click on the main guy and watch my life to see if my life on hit can keep up.  I simply can either kill it or I can't.  If I die I know that there is nothing I can change to go back in and be able to kill it.
<br><b>Hardcore:</b> I won't be playing hardcore as long as this ability exists.
<br><b>Changes:</b> I'm not sure how this ability made it into the game.  And I'm not sure how this hasn't been removed yet.  I don't even consider it an affix comparable to the others.  Monsters that have this ability are just playing their own game, like they don't belong in Diablo III.
<br><br>
<b><u><font color="red">Jailer</font></u></b>
<br>For everything, this ability is just very random.  But the important thing about it is that it can screw you over and get you killed instantly by other affixes, as you'll see mentioned.  I would really like to see this ability changed, but I don't have a good solution.  However, I do like that I can teleport out of it, and I assume that other classes have similar abilities to get out.
<br><br>
<b><u><font color="red">Knockback</font></u></b>
<br><b>Ranged:</b> I always found this ability very strange as ranged because it saves me from the monsters but then slows me so they can catch up.  So usually it just cancels out.  Sometimes it helps me more, sometimes it hurts me more.
<br><b>Melee:</b> If the enemies are melee, then I kind of shrug when this happens.  Can be frustrating if the enemies are ranged though.  If the enemies are ranged, have knockback, and also have shielding, then it makes me want to break my keyboard in half.
<br><b>Hardcore:</b> No serious complaints about it.
<br><b>Changes:</b> It's just really weird, I don't know what else to say.
<br><br>
<b><u><font color="red">Missile Dampening</font></u></b>
<br>Does this ability exist?
<br><br>
<b><u><font color="red">Molten</font></u></b>
<br><b>Ranged:</b> As ranged, you pretty much can't get hit by this unless vortexed.
<br><b>Melee:</b> As melee vs melee it's a pretty fair ability.  As melee vs ranged it seems like a fair ability until I quickly die.  Again, I have 999 fire resist, 8800 armor, and 750 life on hit.  I die in about 2 seconds of standing in molten.  I can't kill ranged enemies that have molten.  They all start splitting up and making star shapes out of the molten trails, then I get vortexed into it and quickly die.  I keep coming back thinking I can play better, but I continue to die.
<br><b>Hardcore:</b> I guess you could always avoid them if you don't think you can kill them.
<br><b>Changes:</b> I would really like to see this redesigned.  It really does nothing to ranged while as melee I get crowd controlled into it or have to keep walking through it to get to ranged enemies.  Either way, the melee character inevitably dies and I alt+f4 right out of the game because my fire resist doesn't matter.  I would like to see this ability heavily changed.  How about make it give a stacking debuff of something instead of doing damage?
<br><br>
<b><u><font color="red">Mortar</font></u></b>
<br><b>Ranged:</b> It's pretty devastating to ranged, but it's manageable as long as you are patient and don't get greedy.
<br><b>Melee:</b> I thought that mortar doesn't hit you if you are in melee range.  That usually seems to be the case, but I had a few elite packs that just decided to shoot them right on top of me.  When I say this, I mean I'm standing surrounded by the enemies and they could not be any closer to me.  The mortars hitting me is always really unexpected and happens fast so it's pretty hard to avoid.  And since I'm getting hit by a mortar from each enemy all at the same instant, it's instant death every time (again, despite 999 fire resist and 8800 armor).
<br><b>Hardcore:</b> I won't be playing a melee character in hardcore as long as mortar can hit melee.
<br><b>Changes:</b> Well, mortar shouldn't hit players in melee range, ever.  Also I would like to see the frequency of mortar slightly lowered.  In order to be safe as ranged, I can only cast one spell between mortars.  It gets a little annoying.  I just want to be able to safely cast two spells.
<br><br>
<b><u><font color="red">Nightmarish</font></u></b>
<br>A pretty strange ability that I don't have a strong opinion on.  There are two occasions where it can be ridiculous, which are being surrounded by enemies with nightmare, causing chain nightmare, or when the monsters also have mortar.  But still, I don't have a strong opinion on it.
<br><br>
<b><u><font color="red">Plagued</font></u></b>
<br><b>Ranged:</b> Does almost nothing to ranged.  As ranged, if you find yourself stepping in a plagued pool, something went very wrong during that fight.
<br><b>Melee:</b> You can just stand in it or you can keep moving out of them.  I don't know if it's my imagination, but I feel like its damage increases as I stand in it and eventually kills me.  Extra annoying if the enemies are ranged.
<br><b>Hardcore:</b> I guess it's okay.
<br><b>Changes:</b> I would like to see this redesigned.  The only thing that I like about it is how long it lasts, which makes it interesting.  But desecrator is just much more balanced.  I don't like how different its impact is on melee and ranged.
<br><br>
<b><u><font color="red">Reflect</font></u></b>
<br><b>Ranged:</b> If you have life regen, then you get to ignore this ability.  If you don't have life regen, then you have to use an ability like diamond skin if you want to attack.
<br><b>Melee:</b> As melee I just let life on hit do its job.
<br><b>Hardcore:</b> The only time this can become unmanageable is with electrified.
<br><b>Changes:</b> Is it intended for every character to have life regen or life on hit?  Because you can't really fight them without one of those.  People on the forums suggest having it toggle like shielding does, which I think would be a fine change to it.
<br><br>
<b><u><font color="red">Shielding</font></u></b>
<br><b>Ranged:</b> Makes me take several times longer to kill them.  They are not more difficult, they just take much longer to kill.
<br><b>Melee:</b> One of the worst abilities because if I can't hit them, I can't get my procs, and without procs I just die.
<br><b>Hardcore:</b> Shielding + enrage timers is a pretty good combo.  As long as shielding + enrage timers exist, I won't be playing hardcore.
<br><b>Changes:</b> This ability might be salvagable with a good redesign, but I would rather just see it removed.  Every time that some elites active shielding, whether I am on skype or alone, I start saying things like "Oh, I guess we're not playing the game anymore," or "Oh, they just went into not playing the game mode," or "Oh, they are immune to playing the game right now" as I run around in circles waiting for it to go away.  Then when the shields go down I say "Oh! it's time to play the game again."  I think that Blizzard's intention with shielding was to have players use defensive abilities when the shields are up and offense abilities when the shields are down, but it doesn't quite work nearly as interestingly as that sounds.
<br><br>
<b><u><font color="red">Teleport</font></u></b>
<br>I like what they did with teleport.  In Diablo II teleport was extremely gimmicky and almost never helped the monster.  They would often teleport off the screen in a hilarious spot.  It makes a lot more sense for them to teleport to the player.  While I haven't had terrible experiences with teleport that make me alt+f4, people on the forums seem to really really hate it.  So I should probably pay more attention to it.  But an idea could be to have them sometimes teleport to a hilarious spot like they did in Diablo II, and other times teleport to the player.  Maybe have them teleport slightly farther away from the player than they currently do.  I think Blizzard is just trying to get back at us for all the teleport abuse we did in Diablo II.
<br><br>
<b><u><font color="red">Vampiric</font></u></b>
<br>I don't really notice this ability, and my damage has always been on the low side.  I see people on the forums complain about it, but I'm more than willing to say it's fine.
<br><br>
<b><u><font color="red">Vortex</font></u></b>
<br><b>Ranged:</b> If the enemies have a strong melee attack, then you're probably dead without an escape ability.  It can be avoided by kiting from a far distance or by using terrain.  But sometimes you don't have enough room to kite the extra needed distance, and often there is not the necessary terrain.
<br><b>Melee:</b> Extremely dependent on other affixes.  The most important thing to note about it I think I explained in the frozen description.  As soon as you start to run away from frozen mines or arcane lasers or whatever, you get immediately vortexed right back into them.
<br><b>Hardcore:</b> I won't be playing hardcore if vortex remains unchanged.  I have no idea how people play hardcore with this existing.
<br><b>Changes:</b> I want to shout "remove it!" but people on the forums think it can be fixed.  The strength of vortex is mostly dependent on the other affixes of the elite.  But there are way too many deadly combinations.  People suggest to give it a visual cast time.  I don't know if this would fix it, but it would help.
<br><br>
<b><u><font color="red">Waller</font></u></b>
<br><b>Melee+Ranged:</b> I really like this ability because it can really effect your playstyle based on both the environment and the type of monster.  Another thing I really like about it is that it can sometimes be used to your advantage and be worse for the monsters.  There are some interesting things that you can use through it like hydra and archon.
<br><b>Hardcore:</b> While I like waller in most cases, sometimes the enemies will go a little crazy and spawn several consecutively and trap you in literally no space where you can't move a pixel until they despawn.  Adding in something like arcane enchanted makes this a guaranteed death.  I already have nightmares of watching my character get walled in to an unmovable position with an arcane laser pivot spawning under her, and I can only sit there and watch her die because there's no save and exit button.
<br><b>Changes:</b> Don't allow the situation I just described to happen.
