<h1>Diablo III</h1>

<h4><%= link_to "Legendaries", '/diablo3/legendaries' %> in Diablo III - 07/26/12</h4>
<br>
<h4><%= link_to "Elite Affixes", '/diablo3/elite-affixes' %> in Diablo III - 07/25/12</h4>
<br>
<h4><%= link_to "Gems", '/diablo3/gems' %> in Diablo III - 07/23/12</h4>
<br>
<h4><%= link_to "Farming Durations", '/diablo3/farming-durations' %> in Diablo III - 07/23/12</h4>
