<h1>Improving Clones</h1>
<h2>in EVE Online - 05/06/13</h2>

<h3>Introduction</h3><br>
I think that there are some problems with the current system of re-upgrading clones after being podded that should be looked at. I don't think that this system should be removed entirely because it is very important to the lore and definitely gives the game a unique aspect on dying.

<br><br>
<h3>Unintuitive system</h3><br>
One problem with the system is that most new players think that upgrading your clone is a one time upgrade. It is not obvious to everyone that the clone needs to be re-upgraded after each pod death.

The other unintuitive part about the system is how unclear it is about how many skill points the player will lose. As a player who just got podded, the game tells me that I now have a clone with 900,000 skill points, but my character has say 10 million skill points. Intuition tells me that if I were to lose my pod again, I would return all the way back down to 900,000 skill points, which is harsh even by EVE standards. This of course, is not the case. It is simply not clear or intuitive to the player that being podded actually means losing 5% of the difference in skill points from the highest trained skill, up to a maximum of 50% of the skill points in that skill. I wouldn't be surprised if some players who have been playing for a long time still don't know that this is what actually happens when a character is podded without a clone upgrade.

<br><br>
<h3>Risk with no reward</h3><br>
This system only offers risk with no reward to back it up. Risk vs reward is an important part of EVE, but re-upgrading clones simply only has risk by being something the player <strong>MUST</strong> do. The fact is that a player should never undock with an un-upgraded clone or they just played the game wrong, which I think is poor design, especially in a sandbox game. It does not create player interaction or good stories. Forgetting to re-upgrade a clone is not something that happens because of the player's choice of play style in the sandbox and it is not something that is influenced by other players (only looking at after being killed by another player). Re-upgrading your clone is not what a player is thinking about immediately after being podded, making it easy to forget. Because of this, players often rely on programs like EVEMon to provide reminders. This really seems like an unnecessary aspect of the game.

<br><br>
<h3>"Tax" for dying</h3><br>
It feels like the purpose of the clone upgrades system is to "tax" the player for being podded. I think that this is a good idea and like the idea of having to pay to re-upgrade my clone when I am podded. What I don't like is the punishment for forgetting because that punishment is not supposed to happen. It seems like it is meant to be harsh enough to remind the player to pay their tax for dying and continue playing. When someone does forget, other EVE players only feel bad for that person because losing skill points is very sad. I guess the bottom line with the current system is that every EVE player is willing to pay the tax for dying to re-upgrade their clone every time that they die. So let's make a system where they still pay the isk without worrying about the harsh punishment of the skill point loss that occurs if they forget.

<br><br>
<h3>Suggestions for improvement</h3><br>
Options for improving the isk loss system:
<li>Give the player a wallet division for clones. The player can deposit as much money as they want, which will only be used for automatically purchasing new clones after being podded. The player sets the desired clone to auto-purchase. Additionally, have a notification sent to the player when there is not enough funds to automatically purchase the next clone.</li>
<li>Alternatively, make each clone upgrade a permanent one-time purchase, but make them cost much more. Since the player already loses their implants each time they are podded, I think permanent clone upgrades would be fine. Since many new players already think this is how it works, it would make the game more intuitive.</li>
<br><br>
Options for improving the skill point loss system:
<li>Instead of losing skill points, the player could have reduced effectiveness until re-upgrading the clone. This could be something similar to the debuffs in systems that have an incursion. However, this could get complicated to implement as there are so many activities a player could do in the game, which the lowered effectiveness would have to influence.</li>
<li>Another option would be to remove access to the skill that would normally lose skill points, but keep its skill points. The player would lose any bonuses gained from this skill until re-upgrading the clone, at which point the skill would return to normal.</li>
<li>If CCP really wants to keep the skill point loss system, then it should be more consistent. The player should lose skill points on every pod death, but much less than the current system. However, I don't think this would be a good idea.</li>
<li>One final option to consider would be not to have being podded affect skill points at all. Instead, move losing skill points to other areas of the game such as how they are lost for being destroyed in a tech 3 cruiser. I think this is a much better design for losing skill points than forgetting to re-upgrade a clone.</li>
  
<br><br>
<%= link_to "Back to EVE Online", '/eve-online' %>