<h1>Improving Industry</h1>
<h2>in EVE Online - 05/07/13</h2>

<h3>Introduction</h3><br>
Industry in general is my favorite thing to do in EVE, from mining to hauling to researching blueprints to manufacturing and some trading and planetary interaction as well. I enjoy having an effect on all parts of this industrial cycle. This post will be less about game design and more about random minor improvements that I would like to see to different aspects of industry just to make the process smoother and easier to manage/organize.

<br><br>
<h3>Suggestions</h3><br>
<h4>Remote researching with a player owned starbase</h4>
I would like to see the <%= link_to "scientific networking", 'http://wiki.eveonline.com/en/wiki/Scientific_Networking', target: '_blank' %> skill function with a POS mobile laboratory. Currently, to start a research job at a POS mobile lab, the player must be within 2500m of the mobile lab, regardless of scientific networking skill level. I think that if the blueprint is already in the lab's storage and the player has the scientific networking skill trained, then the player should be able to start the research job remotely in the same way as having the blueprint at an NPC station.

<br><br>
<h4>Assembly arrays at player owned starbases</h4>
There are quite a few of these, making them feel more overwhelming than they should be to manage. Consider combining similar ones and giving them less slots. For example, since the small ship assembly array and medium ship assembly array already use the same CPU and PG, consider combining them into one array that has something like 5 slots for manufacturing small ships and 3 slots for manufacturing medium ships. Similarly, combining the ammo and drone assembly arrays would make sense, as well as combining the component and subsystem assembly arrays.

<br><br>
<h4>Manufacturing with a corp blueprint but private materials</h4>
When manufacturing a corporate blueprint from an office, the materials must be in a corporate hangar and the item must output to a corporate hangar. It would be nice if the input materials could be selected from a corporate hangar OR the private "my hangar," and similarly for the output location. Currently, a player must move the necessary materials from their private hangar to a random corporate hangar to start the manufacturing job. This really seems like a troublesome extra step to me that shouldn't be needed.

<br><br>
<h4>Smarter default installation types for researching/manufacturing</h4>
I feel like whenever I start a manufacturing job at an NPC station, the installation type always defaults to "corporation" rather than "public." Similarly, I feel like whenever I start a research job at the mobile lab, the installation type always defaults to "public" rather than "corporation." I really think the game should be smarter about choosing these defaults.

<br><br>
<h4>Improving station containers</h4>
I really like the idea of station containers because I like being organized. Using station containers is more immersive than creating filters for the hangar. My problem with station containers is that putting items inside of them removes almost all ability to interact with those items. I would like items in a station container to be treated the same as in the station hangar. In particular, I would like to be able to:
<li>Sell items in a station container using the <%= link_to "Marketing", 'http://wiki.eveonline.com/en/wiki/Marketing', target: '_blank' %> skill</li>
<li>Create contracts for items in a station container</li>
<li>Manufacture using materials that are inside a station container</li>
<li>Repackage modules that are inside a station container</li>

<br>
<h4>Autofill containers when dragging loot into cargo</h4>
If a ship has containers in its cargo, and the player drags items into the cargo, there should be a way to tell the interface that you want the items to fill up all available containers. An example of where this becomes relevant is having an Iteron Mark V with 13 containers in its cargo, being used to transport either ore or minerals. The minerals/ore must be dragged into each of the 13 containers separately. It would be nice if holding a specific button would tell the interface to fill all available containers with the items being dragged into cargo.

<br><br>
<%= link_to "Back to EVE Online", '/eve-online' %>