<h1>Scott's Hero Power Tier List</h1>
<h2>in Hearthstone - 08/24/13</h2>

<h3>Introduction</h3><br>
Like any tier list, everyone is going to get mad and no one will agree with it, but that's okay. This is just what I think. Also keep in mind that this is just for the hero powers and not the actual cards for that hero.
<br><br>
Starting with the worst...

<br><br>
<h3>Warrior</h3><br>
The warrior ability (+2 armor) is undeniably the worst. It does not affect the board, it is defensive, and it does not synergize with his cards (except for one - Shield Slam). It does not give card advantage and does not help when losing. When a warrior uses this ability on turn 2-4, I just get up and start dancing because he just completely threw away his turn. The ONLY correct time to use this ability is when you literally can not spend your mana on anything else. I think that is a sign of a poorly designed ability.
<br><br>
This is one of only two abilities that I would like to see changed. For this ability to be good I would like to see one of the following:
<li>Change the ability completely.</li>
<li>Give it an 'OR' option that affects the board, such as "Gain 2 armor OR give a minion +1 health."</li>
<li>Make a decent number of cards that synergize with it like Shield Slam does. There could easily be a weapon or minion that benefits from your armor. It's currently actually anti-synergy with cards like Mortal Strike and Molten Giant if you use it before playing them.</li>

<br><br>
<h3>Hunter</h3>
<br>
The hunter ability (2 damage to enemy hero) suffers from the same main problem as the warrior ability, which is not affecting the board. However, since it is offensive rather than defensive, it is much better than the warrior ability. The only time that this ability is good is when a bad deck is playing against a bad deck. And guess what the beta is? A lot of bad decks playing each other, which makes the hunter ability look a lot better than it really is. That won't be the case when people get smarter. This ability could be good if Hearthstone had minion abilities similar to prowl or bloodthirst from MTG, but in that case it would actually probably be way too good. Despite me considering this to be the second worst ability, I don't think that it should be changed and the hunter is my second favorite hero to play because his cards are so good.

<br><br>
<h3>Priest</h3>
<br>
The priest ability (heal a character for 2) is defensive, but it is better than the previous two because it can affect the board. One bad thing about this ability is that it is the only one that often can not be used in the first few turns even if the player wants to use it, which makes it a little strange. The biggest strength of this ability is that it has a lot of potential for shenanigans and synergizes well with the priest's cards, such as Northshire Cleric. There are also two cards that turn this ability into an offensive one, which is pretty interesting.

<br><br>
<h3>Druid, Shaman, Paladin</h3>
<br>
These abilities are all really balanced. Not only are they balanced in power level, but they all also provide a lot of strategic options. The Shaman and Paladin ones in particular can be used with all kinds of cards that interact with having more minions.

<br><br>
<h3>Mage, Rogue</h3>
<br>
These two abilities are very strong and always come in handy. The mage ability (1 damage to anything) can be very frustrating to play against because you pretty much have to reconsider any 1 health minions that you put in your deck (Dust Devil). It also allows the mage to kill anything after a polymorph and allows the mage to be the only hero that can enrage friendly minions. The rogue ability (1/2 weapon or +1 attack to current weapon for the turn) also dominates anything with 1 health, but is very versatile in general. I didn't realize it at first, but after using the rogue, this ability can require a lot of thinking. It gives a ton of possibilities and synergizes well with rogue cards like Blade Flurry. I consider the rogue ability to be the best designed hero power.

<br><br>
<h3>Warlock</h3>
<br>
The warlock ability (-2 health, draw a card) is my favorite one. It is also overpowered and should be changed. It is pure card advantage for a drawback that I rarely think twice about using. In a game where card advantage is everything, this ability is without question the best.
<br><br>
Here are some possible ways to fix it:
<li>Change it completely.</li>
<li>Change the penalty to -3 life.</li>
<li>Even better than the last idea, take another page out of MTG. Instead of it being Sign in Blood, make it Sarkhan the Mad's first ability, where you reveal the card, lose life equal to its mana cost, then draw it. I really like this because since there are no lands, it will rarely be 0. I don't think there are enough good 0 and 1 mana cards to really abuse this. So on average, I would expect it to deal 3 damage to the player, which would be similar to the previous suggestion. However, the other thing that I like about this is the extra penalty of revealing the card. So even though it gives card advantage, the opponent knows what card you drew and can play around it.</li>


<br><br>
<%= link_to "Back to Hearthstone", '/hearthstone' %>