<h1>Hearthstone</h1>

<h4><%= link_to "Scott's Hero Power Tier List", '/hearthstone/hero-power' %> in Hearthstone - 08/24/13</h4>
<br>
<h4><%= link_to "First Impressions", '/hearthstone/first-impressions' %> in Hearthstone - 08/21/13</h4>
<br>
