<h1>First Impressions</h1>
<h2>in Hearthstone - 08/21/13</h2>

<h3>Introduction</h3><br>
Hearthstone beta started a few days ago, so it's just the beginning of what will probably see many changes. With Diablo III being what it is and me not caring at all about Mists of Pandaria, it was starting to feel like Starcraft II was the only Blizzard game. But then, Hearthstone.

I guess I will start by saying two things. One is that I think it is an excellent idea that Blizzard made a game of this genre. There are already too many physical TCGs that don't have enough players to support them. But no one has properly taken advantage of the digital TCG opportunity without requiring paying a billion dollars to play MTGO. I love strategy games and I think it is a good idea for Blizzard to branch out in this direction with Warcraft. The second is that I will probably make a lot of comparisons to MTG, but even if I praise something that Hearthstone does, I don't think that MTG should change and I still like the way that MTG does things.

<br><br>
<h3>Random Things I Like</h3>
<br>
<h4>Mana System</h4>
<br>
The mana system in Hearthstone is very simple and very effective, which of course I think is what Blizzard wanted. The mana system is mostly as effective as in MTG, but with much less overhead. It follows the same concept as MTG, but is way more consistent, which is awesome and good for strategizing. With no land cards, it avoids the frustration of drawing too few or too many lands. When in top deck mode, you always know that you are going to be drawing a non-land card, which is another frustrating part of MTG. However, this system still allows for mana destruction (Felguard) and mana ramp (Nourish). Finally, this mana system just saves a lot of time in general on the game length. The mana should be important, but the focus should be on the cards, which is what Hearthstone does. The main downside of the system is that we don't get fancy lands with recurring effects, but that is covered in the next system that I like...

<br><br>
<h4>Hero Powers</h4>
<br>
Hero powers are what I view as the manlands of Hearthstone. Since they are always available, there is always something to do. One of the worst feelings in MTG is having no cards and no manlands. All we want to do is play the game, and hero powers let us do that even with no cards. The hero power makes hopeless situations seem a lot less hopeless, whereas hopeless situations in MTG feel awful. Furthermore, they open up a lot more strategic possibilities. In general, hero power is a simple system that makes the game a lot better, more interesting, and more dynamic. And by that what I really mean is Sign in Blood every turn? Don't mind if I do.

<br><br>
<h4>Abilities</h4>
<br>
It's really nice to see that many of the game defining minion abilities are somewhat original, interesting, and also make sense by Warcraft terms. There are obviously some abilities carbon copied from MTG (haste, deathtouch), but I think the more unique abilities stand out a lot more, such as taunt, divine shield, stealth, and spell power. Yeah, MTG has taunt in the form of lure, but it doesn't have the same kind of impact on the game. Some creatures in MTG also have a spell shield, but divine shield still feels like divine shield. Anyway, good abilities, interesting, unique enough, I like them.

<br><br>
<h4>Combat</h4>
<br>
What I quickly noticed is that the combat system is very different from MTG. It is also different from Yu-Gi-Oh. It is almost a mix between the two, but even then, not really. I didn't like it at first, but it quickly grew on me. There are two main concepts that really stand out to me, which are taunt and damaged minions staying damaged.
<br><br>
The taunt mechanic is awesome because it let's you control your opponent with creatures. I'm not a fan of the 0 creature control decks in MTG, so I'm really happy that so far in Hearthstone, everyone actually plays creatures. Taunt minions are control cards, and you decide how much or how little you want to control your opponent with how many taunt minions you put in your deck. Another awesome part of the taunt mechanic is that if your opponent has no taunt, you have to choose between attacking the opponent's minions or hero. This gives the player a lot of options and possibilities. Since you get to choose what you attack, it leads to a lot less standoff situations that can happen in MTG.
<br><br>
Damaged minions staying damaged seemed very strange to me at first, but now it makes sense. One thing that it does is allows for cards that heal minions (Darkscale Healer), which just gives us another path to strategize with. More importantly is that it actually makes it possible to kill a big minion with a lot of weak minions. In MTG drafts, usually the only way to deal with bomb creatures is straight removal, but these minions in Hearthstone, such as the 8/8 giants, are much easier to deal with while still being very powerful. The last good thing I noticed about this combat system is that there is always reason to be attacking, so the games are very action packed.

<br><br>
<h4>Life Gain</h4>
<br>
There are two awesome things that I noticed about life gain in Hearthstone. One is that the hero can't heal above 30. This means there are less strategic options in terms of life gain compared to MTG. Despite this, I don't care because it means there can't be any stupid decks completely focused on life gain that just drag the game out and annoy the opponent. The second thing is there is no lifelink. Lifelink gets out of hand way too easily and I don't want to see it.

<br><br>
<h4>Fatigue</h4>
<br>
Since Hearthstone doesn't have mill strategies (which I think anyone agrees is the worst way to lose), it doesn't make sense to lose when you run out of cards. I like the fatigue system and that you don't instantly lose after running out of cards. You actually get to play the game, which is what players want to do.

<br><br>
<h3>Random Things I Don't Like</h3>
<br>
<h4>Secrets</h4>
<br>
Secrets are bad, the end. There are so many problems with secrets that I better make a list:
<li>"Secret" is a really stupid name for them. That needs to change.</li>
<li>There are so few that it is reasonably easy to guess what the secret is. A mage has 5 secrets. Counterspell, Mirror Entity, and Vaporize all have good effects and you can take a pretty good guess at which one the mage just played based on the board. The other two are bad, so if the mage uses them, you don't care.</li>
<li>Because the opponent can see the mana paid ahead of time, all traps for a class must cost the same amount of mana. This means that all traps for a class must be about the same power level and is just a very restricting element on the designers. For example, how can you have a trap based deck if they all cost 3 mana? It could be possible if there were traps in varying costs between 1-5, but the current system can't allow that.</li>
<li>It's too easy to play around traps. Right now the game is so new that this isn't obvious, but once people get better, it will be more obvious. If a mage plays a trap, attack it with a weak minion. That will tell you if it is vaporize. If not, summon a weak minion or cast a weak spell, that will tell you if it is counterspell or mirror entity. Once people understand to play like this, I think that traps in their current state will be pretty obsolete.</li>
<li>You don't get to choose when to use them. It's apparent that Blizzard doesn't want you to be able to do anything on your opponents turn, but I really think they should reconsider and redesign the secrets system so that you can have more input on when to use them. Blizzard has some smart designers, I'm sure they will figure it out.</li>
<li>Secrets in general are a very weak imitation of instants from MTG and traps from Yu-Gi-Oh, which are extremely important parts of both of those games. Likewise, I think that secrets SHOULD be an important part of Hearthstone, but from what I have seen, only two classes have them? I would really like to see the system redesigned to be more useful and more interactive, as well as given to every class. It really feels like wasted potential and easily the weakest area in the design of Hearthstone.</li>

<br><br>
<h4>Randomity</h4>
<br>
Hearthstone is supposed to be a fun/casual game, and it is. Randomity is notoriously associated with fun/casual and not with competitive games. Despite Hearthstone being a fun/casual game, Blizzard obviously intends for it to be competitive as well. This is seen by arena costing real money and the presence of ranked play. I think that there are too many cards with random effects that can still be good and fun without so much randomity. I'm not going to say remove every random effect from every card, but I will give one example of where I think the best place to start is.
<br><br>
Every card that I have seen that discards other cards as part of its cost, discards at random. I really don't like this and I think that I should get to choose what I discard. I already consider discarding a card to play a card to be the harshest penalty because card advantage is everything. Having the card be discard at random just feels like a double unnecessary penalty. Remember that there are no land cards to discard to these effects, so discarding is already even harsher than in MTG. The current discard at random mechanic makes it so that most of these cards are only played when the player's hand is already empty. I doubt that was the intention, otherwise they could have just made a "can only be played if this is the last card in your hand" effect. If the effect were changed to allow the player to choose what is discarded, these cards would probably be cast more often before an empty hand, while still being appropriately powered.


<br><br>
<%= link_to "Back to Hearthstone", '/hearthstone' %>