<h1>Issues with Reapers</h1>
<h2>in Starcraft II - 09/09/10</h2>

I have come to the realization that the reaper unit is flawed and poorly designed. I'm going to tell you why and how I would fix them.
<br><br>
Every unit in Starcraft II can be good at all points in the game (early, mid, late game) and good against all races. Obviously some of these cases are very rare, but they do occasionally happen. Reapers however, are the only unit that does not satisfy those requirements. Reapers can be used against any race, but only as cheese. Otherwise, reapers are only viably used in competitive play against zerg and only used early game. My opinion is that this is the definition of a poorly designed unit that is greatly in need of a redesign.
<br><br>
So the things that I want to focus on changing about reapers is making them worse against zerg, better against terran and protoss, and making them better past the early game, along with being viable to mix in with other units. What should definitely stay the same about reapers is their mobility in speed and cliff jumping. I really like the mobility of the unit, and want to be able to actually use it outside of cheesing.
<br><br>
The idea of strong counters in Starcraft II is cool and all, but I think it's really stupid that reapers can infinitely kite roaches and be completely stopped by one marauder or one stalker. Furthermore, Blizzard has said they think that reapers are too strong against zerg and they are nerfing them in the next patch. So very soon reapers will be nothing more than a pure cheese unit. And call me crazy, but having a unit in the game that is only good for cheese should be frowned upon.
<br><br>
Here are the changes that I would make to reapers:
<ul>
  <li>Give them a new passive ability that absorbs one attack and then goes on a cooldown.</li>
  <li>Give them an actual attack animation that requires them to stand still slightly longer.</li>
  <li>Increase their damage to non-light units by 1.</li>
  <li>Slightly decrease their damage to buildings.</li>
  <li>Give them an upgrade that requires a fusion core and increases their life.</li>
</ul>
And these might require some explanations so here we go. The passive ability that absorbs an attack is so that reapers won't randomly explode from going anywhere near non-light units. This ability won't have a big affect on most light units like zerglings, marines, and zealots since those all attack rather fast. This passive shield also supports the idea that it is a hit and run unit because they can actually take a hit while running around instead of just dying.
<br><br>
Changing their attack animation is to make them unable to infinitely kite units like roaches. The passive shield will be their new way to kite and survive. Instead of infinitely kiting, they would hit and run when the shield is up.
<br><br>
The damage they do to non-light units is pathetic, increasing the damage by 1 should raise them from being unable to kill armored units to just sucking really bad against armored units.
<br><br>
The damage that reapers do to buildings right now is kind of overpowered. The only reason why this isn't known is because reapers aren't used in large numbers. If reapers were usable more throughout the game, then this damage would need to be lowered.
<br><br>
Finally, their hp is just so low for end game that I would like to see them have an upgrade to increase it. I don't care how much it increases, but it should be there. And this should obviously require a fusion core because it's meant for end game.
<br><br>
So in conclusion, I think these changes would make reapers less of a cheese unit and somewhat viable against all races at all points in the game.