<h1>Campaign Research Paths</h1>
<h2>in Starcraft II - 08/24/10</h2>

Recently one of my friends who just got Starcraft II brought up that he found it difficult to choose between the researches given during the campaign. So I thought it would be a good idea to give my opinion on which researches should be chosen. And while I'm at it, I'll give my opinion on if Blizzard did a good job designing the research paths too.
<br><br>
I played through the campaign twice, once on hard difficulty and once on brutal difficulty, and made some different decisions each time. So I can tell you about which I felt were the better decisions.
<br><br>
<h3>Protoss:</h3>
<br>
<font color="339966">
5 Points
<br>Increase attack speed by 5% per weapon upgrade
<br>vs
<br>Increase life by 5% per armor upgrade
</font>
<br>This one I probably spent the most time deciding on because they are both so similar but also don't make a huge difference. The first time I chose weapons and the second time I chose armor. This one definitely has no right answer, just choose the one that you tend to get more upgrades for. In many missions I didn't even get any upgrades at all, but usually I would get weapons upgrades over armor. However, I suggest the armor research slightly more on brutal because I think stressing survivability is more important on brutal.
<br><br>
<font color="339966">
10 Points
<br>Supply depots build instantly
<br>vs
<br>Refineries produce gas 25% faster
</font>
<br>The second one makes you mine out the gas faster and doesn't actually give you more gas in the long run. But this can get you more units out early, so it is probably the better one to get. However, I got instant supply depots both times because it allows you to be lazy and makes the game a little more fun. Good job by Blizzard making us choose between efficiency and laziness.
<br><br>
<font color="339966">
15 Points
<br>Refineries no longer require SCVs
<br>vs
<br>2 SCVs can be trained simultaneously
</font>
<br>Both of these are stupidly overpowered. You can't choose wrong here because they are both mind bogglingly overpowered in my opinion. I chose the first one both times because I really like being able to harvest the gas without having a command center there. However, the second one is probably better overall. I think Blizzard should have had one or both of these moved higher up the research tree because these are both so good.
<br><br>
<font color="339966">
20 Points
<br>Raven
<br>vs
<br>Science Vessel
</font>
<br>If you have any intention of making vehicles or air, then I suggest the science vessel. I like the raven and all in multiplayer, but I think that point defense drone and seeker missile are much better suited for multiplayer and not the campaign. Also auto turret is bad. The science vessel however will heal mechanical units, which is just ridiculous and can make things much easier for you. Also irradiate is actually good. However, if you never intend to build mechanical units then I'd probably suggest the raven.
<br><br>
<font color="339966">
25 Points
<br>Combine the tech lab and reactor
<br>vs
<br>Barracks units arrive by drop pods to the rally point
</font>
<br>Yeah so I look at these and there's just no competition for me. Combining the tech lab and reactor is so unbelievably overpowered in my opinion that it's the only choice here. Don't get me wrong though, it isn't necessary to do the campaigns, but it is really really good. If the drop pods also worked on the factory then it might have better competition. But you will probably be using a lot of mercenaries and non-barracks units (although barracks units are still good and can be used in every mission). In all honesty it's really hard for anything to compete with this first option. I think the second option should have been different or moved lower in the research tree.
<br><br>
<h3>Zerg:</h3>
<br>
<font color="339966">
5 Points
<br>Bunkers come with a turret
<br>vs
<br>Bunkers have +150 life
</font>
<br>So the first time that I played on hard, I was like obviously I want the turret. Who needs more bunker life? Well it turns out the turret is kind of weak. It doesn't tell you it's damage so I can't give you exact numbers, but it's pretty weak. On brutal I got the +150 life and was much happier with that decision. You will probably rely on your bunkers surviving in several missions, so the bunker life becomes more valuable. If your bunkers die in these missions, it can sometimes be difficult to rebuild them. Also on brutal, the AI will attack you with banelings, colossi, and other dangerous to bunkers units. So on brutal I say get the +150 life, and on lower difficulties get whatever you like.
<br><br>
<font color="339966">
10 Points
<br>Planetary fortress
<br>vs
<br>Perdition turret
</font>
<br>The first time around I got the perdition turret, and it was reasonably useful. You have to really put them in good spots though otherwise certain ranged units will be able to attack you without triggering them. You probably have experience with planetary fortresses, so I would suggest giving the perdition turret a try and deciding for yourself if you like them. If you are simply a huge fan of planetary fortresses then go for them. Neither of these are absolutely necessary. I like the perdition turret because it's ground defense that doesn't use supply. So is the fortress obviously, but they are less convenient. Actually, While struggling on the final mission, I had the idea that planetary fortresses might be an excellent way to make the mission easy if you chose the ground only version. However I did not get to test this because I chose perdition turret in the ground only version (which is still good) and planetary fortress in the air version on brutal.
<br><br>
<font color="339966">
15 Points
<br>Predator
<br>vs
<br>Hercules
</font>
<br>The first time around I got the predator because I felt that medivacs were already awesome so I didn't want another transport. Well the predator turned out to be by far the most disappointing thing ever. It does a lot of damage but it costs too much gas and dies extremely easily. They are just impossible to keep alive, even if you bring SCVs to repair them. The second time around I got the hercules. I only used it in a few missions, but needless to say it was much more useful than the predator. I don't really like these two options, especially the predator. I think Blizzard should have rethought this tier and most importantly I pray that I never see the predator in future expansions.
<br><br>
<font color="339966">
20 Points
<br>Specialist units start with +100 energy and +100 max energy
<br>vs
<br>Ships and vehicles regenerate life
</font>
<br>Looking at the first option I kind of made some weird faces and thought about it for a while. Then I looked at the second option and was like yeah, second option. I'm a complete sucker for abilities that heal. But I think this is one of the most personal opinion choices of them all. It's really hard for me to say how good the first option is, especially since I didn't get it. I see the second option as free money, and I like free money. But the first option has a lot of not obvious potential to it. I like when the two choices are somewhat related, which most are, but this choice isn't. These two options seem kind of random to me.
<br><br>
<font color="339966">
25 Points
<br>Tower that mind controls zerg
<br>vs
<br>Tower that slows nearby zerg
</font>
<br>Alright, when I first saw this I was like well it's really hard to compete with permanently mind controlling units, so I went straight for that one without much other thought. It turns out that these towers are only really useful on the final mission and the third to final mission. So just looking at those two missions, the slowing tower is better in my opinion on the third to final mission, which leaves us with the final mission. On the final mission I had left the nydus worms up. I built like 6 of the mind control towers and kept mind controlling ultralisks, but they would die instantly to other nearby units and didn't really make a big difference in the big picture. Then they ran out of energy. On brutal I left the air up and got the slowing tower, and was much happier with it. As I said, the slowing tower is very useful on the third to last mission, and I also found it very useful on the final mission. I would imagine it would be even more useful against the nydus version rather than the air version. So I would suggest getting the slowing tower here.
<br><br>
<h3>Conclusions:</h3>
<br>
Alright, overall I think Blizzard did a really good job with these choices. Other than the tier 1 protoss decision, all of them were reasonably interesting. However, I feel like tiers 3 and 4 protoss are far better than tiers 3 and 4 zerg.  If I had to change something, I think what I would do is get rid of the predator, then move the drop pods from tier 5 protoss to the predator spot so that it becomes hercules vs drop pods (which makes more sense because they are both transport related), and then make a new option to compete with the reactor+tech lab at tier 5 protoss.
<br><br>
As a final random thought, I really want to try planetary fortresses and the slowing tower in the final mission with the nydus version. It just seems like that could make it easy even on brutal.