<h1>Starcraft II</h1>

<h4><%= link_to "Issues with Void Rays", '/starcraft2/issues-with-void-rays' %> in Starcraft II - 09/19/10</h4>
<br>
<h4><%= link_to "Issues with Reapers", '/starcraft2/issues-with-reapers' %> in Starcraft II - 09/09/10</h4>
<br>
<h4><%= link_to "Campaign Research Paths", '/starcraft2/campaign-research-paths' %> in Starcraft II - 08/24/10</h4>
