<h1>Issues with Void Rays</h1>
<h2>in Starcraft II - 09/19/10</h2>

This one is going to be a little simpler than my suggestions for reapers.  These are the issues with void rays in my opinion:
<ul>
  <li>When not charged up, they do very little damage and are beaten by basically anything that hits air.</li>
  <li>When fully charged, they become completely unstoppable and uncounterable in any way.</li>
  <li>They don't mix well into a protoss ground army.</li>
</ul>
It's cool that counters are a much bigger part of Starcraft II than Brood War, but I think the void ray's damage spectrum is way too big.  I don't think that a unit should vary so much that it can die to anything one second and a few seconds later be unstoppable.  When void rays are part of a protoss ground army, they usually are not very effective in battle because the battle is often decided before they are fully charged.  On the other hand, if you sneak void rays in from the side of the enemy's base and fully charge them on a random building before the opponent's army can get to them, then suddenly void rays become unfair.
<br><br>
So here are the changes that I would make to void rays:
<ul>
  <li>Lower their fully charged damage.</li>
  <li>Give them a new ability that allows them to consume x points of shield from a friendly protoss GROUND unit and converts the consumed points of shield into charge for their attack.</li>
</ul>
I feel that these relatively simple changes would completely fix void rays.  These changes make them less of a cheese unit and much better in an actual protoss army.  If the void rays get fully charged on some random structure, then the opponent still has a fighting chance.  And if a player decides to use void rays in a battle, the player can choose to instantly fully charge the void rays by consuming shields from ground units.  Even though the fully charged damage would be weaker, the void ray would generally do more damage overall in most battles.  These changes might also make carriers better than void rays as a victory fleet, which you know... they should be.  And not that anyone really cares, but it would make FFAs slightly more balanced.  So there you go, I solve another problem.