<h1>Tribes: Ascend</h1>

<h4><%= link_to "Questionable Features", '/tribes/questionable-features' %> in Tribes: Ascend - 08/04/12</h4>
<br>
<h4><%= link_to "Random Things I Like", '/tribes/random-things-i-like' %> in Tribes: Ascend - 08/04/12</h4>
