<h1>Random Things I Like</h1>
<h2>in Tribes: Ascend - 08/04/12</h2>

I really don't like FPS games, and the only one that I have ever been able to play for a long period in one sitting was Goldeneye.  However, Tribes: Ascend is very fun and I often don't want to stop playing it.  So here's some random things that I like about Tribes: Ascend.
<br><br>
<h4>Ideas From Other Games</h4>
<br>There's a lot of things in other FPS games that I don't like, but Tribes has managed to take only good things from other FPS games.
<ul>
<li><b>Perks</b> like Call of Duty.  I really like customization, and it's something that for a long time did not exist in FPS games outside of what weapons you are using.  I could probably talk individually about each perk, but in general they are pretty interesting while not providing huge benefits, which I think is how they should be.</li>
<li><b>Ammo display on weapons</b> like Halo.  Any time that something can easily be removed from the interface and added to the actual game without making it more confusing, it's usually a good idea.  I never played a lot of FPS games, but Halo was the first one I saw this feature in, and I like it.</li>
<li><b>Credits</b> like Counterstrike.  You earn "credits" while playing a game from doing various things, mostly getting kills, that can only be spent in that game.  You use them for different things than in Counterstrike, and can actually use them for a variety of things such as vehicles, upgrading turrets, and strikes.  I like the credits system because it gives me something to focus on other than K:D ratio.  I feel like every other FPS game just focuses on what your K:D ratio is, but a kill on a flag carrier should be weighted more than a kill on a guy in mid field, which is what the Tribes credits system encourages.</li>
<li><b>Classes</b> like Team Fortress 2.  Tribes 2 had three classes, but they didn't feel very unique.  Team Fortress 2 showed that having classes that are a little more unique can make an FPS game much more fun.  Tribes: Ascend expanded their class system to 9 classes that all have a unique feel.  I think the class system turned out great, with every class being viable, and no class being overpowered.  Each class definitely has a role that they fill better than other classes.</li>
<li><b>Free</b> like League of Legends.  Well, Riot has shown the world how powerful the model of a free game is where you can unlock every non-cosmetic item just by playing the game.  Tribes: Ascend follows this model pretty identically.  Some people hate on this model a lot, but I like it and I think it has proven to be successful.</li>
</ul>
<br><br>
<h4>Jetpack + Skiing</h4>
<br>The jetpack is what really makes the game for me.  It makes the Tribes games so much more dynamic than other FPS games for me.  Being able to get to any part of the environment on the map is awesome, and managing energy allows for a lot more to think about while playing.  Combining the jetpack with skiing is how Tribes gets it's reputation of going fast, and makes it really unique.  The idea of being able to catch up to someone really far away from you, or be unable to keep up with someone that you are chasing is a really interesting concept that doesn't appear in other FPS games.  Again, this adds a lot more thinking and planning ahead to the game.
<br><br>
<h4>Skill Cap</h4>
<br>For a long time I have bashed FPS games like Halo for being competitive.  I never considered Halo to require enough skill to be next to Starcraft at gaming events.  From my experience with Halo, most situations are I see another player and we just unload ammo at each other until someone randomly dies while the other guy has no shield left and health flashing.  Every time this happened, I never felt satisfied.  I'm just kind like "did I get out played there?  I don't even know."  The times where I come out the victor in those situations I definitely don't feel like I outplayed the other guy.  I've even watched videos of top Halo players, and the only thing I find impressive is stickies.
<br><br>
Anyway, everything that people do in Tribes impresses me.  Every time that I die I feel like I got outplayed and can see ways I could have gone about the situation differently.  Every time that I kill someone, I feel really good and know that I actually aimed my shot and watched what the other guy did in order to kill him.  When you add in the existence of mid-air shots, it just adds another entire layer of skill to the game.  I know that I can play this game forever and not be able to do the things that top players do.  Here's some random videos that convince me of the skill cap in Tribes:
<br><%= link_to "-3-miri - Comp Two", 'http://www.youtube.com/watch?v=Oy-p7tR2j6k', target: "_blank" %>
<br><%= link_to "Tribes Ascend: Blue Plate Special Montage #6", 'http://www.youtube.com/watch?v=89KIj_cbAXo', target: "_blank" %>
<br><br>
<h4>Weapon Balance</h4>
<br>This is definitely another part of Tribes that makes it stand out for me.  In the past I've complained about the concept of FPS games often being about running around trying to get the best weapon.  I often felt like Halo games were just "who has the rocket launcher?" and even I could get a kill with the rocket launcher, no matter how bad I was.  In Tribes you choose from any weapons that your class has access to, and can change them at any time at an inventory station.  With this model, it's kind of required that all of the weapons be roughly equally balanced, or be good at very specialized tasks.
<br><br>
<h4>Sniping</h4>
<br>In other FPS games, sniping is generally guaranteed to be a one shot, and anyone who picks up a sniper rifle suddenly becomes a leet sniper.  Tribes does two things to tone down sniping.  One is the max damage on a snipe, which will two shot a light class, 3 shot a medium class, and have very little effect on a heavy class.  The second is the sniper rifle has to recharge after each shot.  If you shoot it again before being fully charged, it will do less damage.  The sniper class is probably the most complained about class on the Tribes forums.  I think that people are too used to sniping being easy and a one shot in every other FPS game.  Despite the complaints, I think that sniping in Tribes is in a very good spot balance wise.  I think that it is the hardest class to play, but it is also a very necessary class in competitive Tribes.
<br><br>
<h4>Vehicles</h4>
<br>In other games, when you add vehicles in, the game suddenly becomes focused completely on vehicles.  I think that Tribes does the best job of having vehicles coexist with non-vehicle combat and just not be over intrusive to gameplay in general.  I they do several good things with vehicles:
<ul>
<li>Vehicles cost credits that you earn during a match.  This means that you can't get as many vehicles as you want, and there is an actual TRADE-OFF in getting a vehicle over spending credits on something else.  There's also a limit on how many your team can have at a time.</li>
<li>Vehicles are destructable.  Not only are they destructable, but the ground ones are pretty easy to destroy, and there is even a class designed for killing vehicles.</li>
<li>Vehicles are generally not overpowered.  The grav cycle is primarily a transport, rather than a vehicle that is effective at killing people.  The tank can kill people pretty well, but it is slow and an easy target, so it usually doesn't last long.  The shrike is possibly too good.  It does kill people well and can be hard to kill, but it's also hard to control.</li>
</ul>
