<h1>Questionable Features</h1>
<h2>in Tribes: Ascend - 08/04/12</h2>

<h4>Suiciding</h4>
<br>Tribes: Ascend has a hotkey to suicide, and suiciding is extremely useful in Tribes, which is kind of an unusual thing to say.  Here are some useful reasons to suicide:
<ul>
<li>Changing class.</li>
<li>Refilling ammo.</li>
<li>Returning to the base to defend after getting out of position.</li>
<li>A combination of switching to a light class and getting into a better position to chase a flag carrier.</li>
</ul>
The problem with suiciding is that it is not really intuitive as being a beneficial thing to do and becoming better at the game.
<br><br>
<h4>Boosting</h4>
<br>A common thing to do in Tribes is to boost yourself by hitting yourself with any explosive weapon to gain speed.  This is useful for grabbing the flag and for chasing flag carriers.  The problem is that it's not really intuitive to hurt yourself to benefit you.  I was thinking about this, but then I saw the patch preview video for the most recent patch, where they increased the knockback on explosive weapons by 20% to make this feature even more important.  So I guess they don't see any problem with it being intuitive, and are encouraging players to do it.
<br><br>
Here's a video of a top player using both boosting and suiciding to try to catch flag carriers (he starts doing it at like 6 minutes):
<br><%= link_to "http://www.youtube.com/watch?v=_HlydR8bwvU", 'http://www.youtube.com/watch?v=_HlydR8bwvU', target: "_blank" %>
<br><br>
<h4>Matchmaking</h4>
<br>I suck at FPS games and I've recently gotten to a point in Tribes where the players have gotten noticably better and I have a hard time keeping up with them.  It has taken me a lot of games to get a win of the day the past few days.  This has caused the game to quickly become less fun and much more frustrating.  The problem is that the matchmaking is just based on level and not actual skill.  I bought the Tribes starter pack, which gives 50% bonus exp, and now I think that might have been a mistake because all it's doing is putting me against better players faster.  I would like to see Tribes matchmaking be based on a skill rating instead of level.  It isn't like League of Legends where anyone below level 30 is just a newb mc uber scrub.
