<h1>World of Warcraft<h1>

<h4><%= link_to "13 Reasons why Archeology is Awful", '/world-of-warcraft/13-reasons-why-archeology-is-awful' %> in World of Warcraft - 02/07/11</h4>
<br>
<h4><%= link_to "If I Made the New Paladin Heal", '/world-of-warcraft/if-i-made-the-new-paladin-heal' %> in World of Warcraft - 04/24/10</h4>
