<footer class="footer">
  <small>
    Created by Scott Savino
  </small>
  <nav>
    <ul>
      <li><a href="http://scottville.herokuapp.com/">Dawn of Ninjas (my game)</a></li>
    </ul>
  </nav>
</footer>